<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ANYCAPITAL automation tests Chrome</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>17/05/28 06:39:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initDriver(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:capital.any.autotest.login.Login@47c62251]">&gt;&gt;initDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/05/28 06:40:37</td>   <td>42752</td> <td title="&lt;&lt;BaseTest.quitDriver()[pri:0, instance:capital.any.autotest.login.Login@47c62251]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>17/05/28 06:40:04</td>   <td>9925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.successLogin(java.lang.String)[pri:0, instance:capital.any.autotest.login.Login@47c62251]">successLogin</td> 
  <td>pool-1-thread-1@374311067</td>   <td></td> </tr>
</table>
